<!DOCTYPE html>
<html>
  <head>
    <title>CanerTube</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/downloads.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/scroll-bar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
 </head>
  <body>
    <%- include('../views/partials/navbar') %>
    <%- include('../views/partials/sidebar') %>
    <div class="download-container">
        <img src="https://media1.tenor.com/m/VLLJuwYmqkkAAAAC/error-wait.gif" alt="download-gif" class="download-gif">
        <p class="download-title-text">Akıllı indirme özelliği sayesinde çevrimdışıyken de izleyebileceğiniz içerikleriniz olur</p>
        <p class="download-description-text">Önerilen videoları sizin için otomatik olarak indireceğiz.</p>
        <button class="download-activation-button">Akıllı indirmeleri etkinleştirin</button>
    </div>
    <script src='/javascripts/sidebar-home-handle.js'></script>
    <script src='/javascripts/voice-input.js'></script>
    <script src='/javascripts/clear-input.js'></script>
    <script src='/javascripts/searched-videos.js'></script>

    <script src='/javascripts/navigate-to.js'></script>
    <script src='/javascripts/google-login.js'></script>
    <script src='/javascripts/view-changer.js'></script>
    <script src='/javascripts/time-difference.js'></script>
    <script src='/javascripts/slider.js'></script>

  </body>
</html>