  
  .categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left:5em;
    margin-top: 3.5em;
  }
  .categories-link {
    margin: 10px 0px 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  .categories-button {
    text-align: center;
    border: none;
    background-color: #272727;
    color: white;
    padding:8px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;

  }
  .categories-button:hover{
    background-color: #424242;
  }
  .categories-button:active{
    background-color: white;
    color: black;
  }
  