body{
    background-color: #0f0f0f;
    scroll-behavior: auto;
    font-family: 'Roboto' , sans-serif;
}
.video-link-href{
    text-decoration: none;
    color: inherit;
    display: block; /* Ensures the <a> tag covers the entire area of .video-box */
}
.game-videos-container{
    margin-left: 10.8em;
    margin-top: 5.6em;
    cursor: pointer;
}
.game-videos-title{
    color: white;
    font-size: 34px;
    font-weight: bold;
}
.game-videos-left{
    width: 90%;
}
.game-videos-video-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.game-videos-video-image{
    min-width: 250px;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
}
.game-videos-video-text{
    display: flex;
    margin-left:10px;
    flex-direction: column;
}
.game-videos-video-title{
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}
.game-videos-video-channel-view{
    display: flex;
    flex-direction: row;
    margin-top:-1.5em;

}
.game-videos-video-channel{
    color: #aaaaaa;
    font-size: 13px;
    margin-left: 1px;

}
#game-videos-video-view{
    margin-left: 20px;
    color: #aaaaaa;
    font-size: 13px;
}
.game-videos-video-description{
    color: #aaaaaa;
    font-size: 13px;
    margin-top: 0em;
}
.game-videos-login{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20em;
    text-align: center;
    align-items: center;
}
.game-videos-login-text{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.game-videos-login-button{
    color: white;
    background-color: #272727;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s background-color ease;
}
.game-videos-login-button:hover {
    background-color: #444444;
}